<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="image/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Muhammad Ali Awan. It uses data from <a target="_blank" href="https://weatherstack.com/">Weather Stack</a></p>
      <img class="portrait" src="/image/user_avatar.jpeg">
    </div>

    {{>footer}}
  </body>
</html>